<h2>REST API</h2>

<h2>Convert QDM XML to JSON</h2>

<p>Convert an XML representation of QDM to JSON format</p>

<p><span class="label label-info">Note:</span> JSON format is provided by the
  <a href="https://github.com/projectcypress/health-data-standards">hqmf-parser</a>.</p>

<div style="border: 1px solid #ccc; padding: 10px">
<h2>HQMF XML File Upload</h2>
<pre><code>POST /qdm2json</code></pre>

<h3>Headers</h3>
<dl>
  <dt>Content-Type</dt>
  <dd><code>multipart/form-data</code></dd>
</dl>

<h3>Parameters</h3>

<dl>
  <dt>file</dt>
  <dd>The QDM XML file.</dd>
</dl>

<dl>
  <dt>version</dt>
  <dd>The HQMF XML version.</dd>
  <dd><strong>Allowed Values: </strong><code>1.0</code> or <code>2.0</code></dd>
  <dd><strong>Default: </strong><code>1.0</code></dd>
</dl>


<h3>Example</h3>

<pre class="highlight">
  curl -X POST -F file=@/path/to/QDM.xml <span class="url"></span>qdm2json
</pre>
</div>

<div style="border: 1px solid #ccc; padding: 10px">
<h2>Retrieve by identifier</h2>
<pre><code>GET /qdm2json</code></pre>

<h3>Parameters</h3>

<dl>
    <dt>measureid</dt>
    <dd>The eMeasure ID</dd>
</dl>

<dl>
    <dt>nqfid</dt>
    <dd>The NQF ID</dd>
</dl>

<dl>
    <dd>Either<code>measureid</code> or <code>nqfid</code> are allowed, but not both.</dd>
</dl>

<h3>Example</h3>

<pre class="highlight">
  curl -X GET <span class="url"></span>qdm2json?measureid=124
</pre>
</div>

<script>
    var value = location.href.substring(0, location.href.lastIndexOf('/') + 1);
    $('.url').html(value)
</script>