<div class="hero-unit">
  <h1>QDM XML to JSON</h1>
  <p>Convert your QDM XML file into easily parsable JSON.</p>
<form action='/qdm2json' enctype='multipart/form-data' method='post' class="form-inline well">

<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i>
      <span class="fileupload-preview"></span></div>
    <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
      <input type="file" name="file"/></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>

  </div>
      <button class="btn btn-primary fileupload-exists dropdown-toggle" type='submit'>Convert!</button>
      <div class="fileupload-exists">
          <small>QDM Version</small>
          <label class="radio">
              <input type="radio" name="version" id="qdm1.0" value="1.0" checked>
              <span >1.0</span>
          </label>
          <label class="radio">
              <input type="radio" name="version" id="qdm2.0" value="2.0">
              <span >2.0</span>
          </label>
      </div>

</div>
</form>
  <p>
    <a class="btn btn-primary btn-large" href="/api">
      Learn more
    </a>
  </p>
</div>